
body{
    font-family: Arial, Helvetica, sans-serif;

}

.main_container{
    width: 100%;
}
.flex_container{
    width: 100%;
    display: flex;
    background-color: black;
    height: 80px;
}
.menu{
    min-width: 100px;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 1.4em;
}
.image_container{
    display: flex;
    position: relative;
    text-align: center;
}
#banner_image{
    width: 100%;
    height: 700px;
    opacity: 0.8;
}
.banner_title{
    position: absolute;
    margin-top: 20%;
    margin-left: 35%;
    font-size: 5em;
    color: darkred
}
.banner_sub{
    position: absolute;
    margin-top: 26%;
    margin-left: 39%;
    font-size: 2em;
    color: darkred
}
.skill_heading{
    text-align: center;
    margin-top: 70px;
    font-size: 2em;
    font-weight: bolder;
}
.skill_container{
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 270px;
    margin-top: 50px;
    flex-direction: row;
    margin-left: 0px;
}
.skill1{
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
}
#image{
    align-items: center;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}
#skill_text{
    text-align: center;
    color: black;
    margin-top: 60px;
    font-weight: bolder;
    font-size: 2em;
}
.title1{
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
}
.carrier{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;
}
.title2{
    margin-top: 60px;
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
}
.qualification{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;
}
.title3{
    margin-top: 60px;
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
}
.training{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;
}
.title4{
    margin-top: 60px;
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
}
.acknowledgement{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;
}
.rounded{
    text-align: center;
}
.rounded img{
    border-radius: 50%;
}
.detailes{
    text-align: center;
    margin-top:  30px;
    color: black;
    font-size: 1.5em;
    font-weight: bold;

}
.title5{
    margin-top: 60px;
    text-align: center;
    font-weight: bolder;
    font-size: 2.2em;
}
#ka{
    margin-top: 30px;
    width: 200px;
    height: 200px;
}